*~*
*#*
*-history
.smex-items
places
*.swp
.*.swp
.DS_Store
/autopair/.git/
/evil/.git/
/paredit/.git/
/themes/desert-theme/.git/
ac-comphist.dat
projectile-bookmarks.eld
#*#
##*##
###*###
*.cache
projectile.cache
recentf
